# Own stuff
.ssh
.gnupg

# OS specific files
.DS_Store

# Custom files
custom_profile
.netrwhist
.viminfo
.zsh_history
.zsh_sessions

# Git configs
.git-credentials
.gitconfig

# Submodules
.vim/bundle/**
.zsh/ohmyzsh/
.zsh/ohmyzsh/**
.zsh/zsh-completions/
.zsh/zsh-completions/**
